body {
  background-color: rgb(223, 54, 32);
}

h1 {
  text-align: center;
  color: rgb(180, 215, 224);
}

form {
  background-color: rgb(61, 212, 204);
  margin-left: 35%;
  width: 30%;
  align: center;
}

button {
  background-color: rgb(210, 218, 56);
  color:rgb(201, 4, 170);
  align: center;
  width: 30%;
}

table {
  background-color: rgb(238, 237, 114);
  color: rgb(123, 32, 166);
  text-align: center;
  margin-left: 35%;
  width: 30%;
}

input {
  width: 30%;
}
